<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   {{ title }}!
  </h1>
  <h2>
    Inside Root Component!
  </h2>
  <app-inner-component1></app-inner-component1>
  <app-inner-component2></app-inner-component2>
  
  <h2>
    {{fun("Inside Fun")}}
  </h2>
  <h2>
    Length of above string is : {{title.length}}
  </h2>
  <h2>
   UpperCase of above string is : {{title.toUpperCase()}}
  </h2>
  <h2>
    {{name}}
  <br>
    <button (click)="gun()">Click!</button>
  </h2>
  
</div>


